$default-font-size: 16px;
$default-font-family: 'Roboto', sans-serif;
$default-font-style: normal;
$default-font-weight: normal;
$default-background: #d9d9d9;
$default-color: #000;
$default-block-background: #fff;

$indent: 0.2rem;

$footer-color-text: #565656;
$footer-color-link: $footer-color-text;
$footer-color-link-hover: darken($footer-color-link,25%);